nav {
    width: 100vw;
    height: 5rem;
    background: black;
    position: fixed;
    top:0;
    transition-timing-function:ease-in ;
    transition: all 1s;
    z-index: 100;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.nav__logo img {
    width: 120px;
    margin-left: 20px;
}

.nav__search {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: white;
}

.nav__search .nav__icon{
    font-size: 1.2rem;
    transform:translateX(28px) translateY(6.5px);
}

.nav__search input{
    padding: 4px 0;
    font-size: 1.1rem;
    border:1px solid white;
    background:black;
    color: white;
    width: 0;
    opacity: 0;
    padding-left: 40px;
    cursor: pointer;
    transition: width 0.5s;
}

.nav__search input:focus{
    opacity: 1;
    padding-left: 35px;
    cursor: text;
    width: 300px;
}